{{ define "main" }}
<section style="margin-bottom: 500px">
  <div class="custom-col-13">
    <h1 class="deploy-header-text text-center mx-auto">
      Customize Your Akash Experience with the Perfect Tool
    </h1>
    <div>
      <p class="text-center mx-auto">
        Tailor Your Experience with Specialized Solutions
      </p>
    </div>

    <!-- TAB SECTION -->
    <section>
      <div
        class="d-flex gap-5 justify-content-center align-items-center tabs-d-wrapper"
      >
        <p class="text-center">Console</p>
        <p class="text-center">Cloudmos</p>
      </div>
      <hr class="deploy-hr" />
    </section>
  </div>
</section>
{{ end -}}
